.hizmetyazi{
    font-size: small !important;
}
.hizmetlist{
    font-size: small !important;
    font-style: italic !important;
}
.subelist{
    font-size: small !important;
    
    margin-left: 3rem !important;
    list-style-type: square;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 994px) {
    
    .hizmet-photo{
        width:90% !important;
        height:15rem !important;
        
    }
    .hizmet-text{
        
        margin: 1rem !important;
    }
}
  