.hizmet-text{
    font-size: small !important;
    text-align: justify !important;
    margin: 4rem !important;
}
.hizmet-title{
    font-size: large !important;
    color:#C92798 !important;  
    text-align: center !important;  
}
.hizmet-photo{
    width:75% !important;
    height:30rem !important;
    margin:auto !important;
    margin-top: 2rem !important;
    border-radius: 1rem !important;
    
}
.p{
    font-size: 14px !important;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 994px) {
    
    .hizmet-photo{
        width:90% !important;
        height:15rem !important;
        
    }
    .hizmet-text{
        
        margin: 1rem !important;
    }
}
  