.imageEkip{
    width: 100%;
     height: 25rem;
      padding: 1%;
      border: 1px #3c667c solid;
      border-radius: 1em;
}
.ekipTemp{
    float: left !important;
    display:inline !important;
    padding: 1rem !important;
}

.contentEkip{
    text-align: center;
    padding: 1rem;
    margin: auto;
    font-size: 18px !important;
    color: white;

    background-color: #3c667c;
    border-radius: 5px 30px 5px 30px;
    width: 100% !important;
 }