.owl-slider{
   
    width:100% !important;
    margin: auto;
    margin-top: 1rem;  
 }
 .owlCarouselTempDoktor{
    
    border-radius: 1rem; 
    height: 50rem !important;
    width: 95%;
    border: 1px dotted #168B80;
    padding: 5px !important;
    background-image:url('dentalbg13.png');
    background-repeat: no-repeat;
    
 }
 
 .owlCarouselContentDoktor{
    text-align: center;
    padding: 1rem;
    margin: auto;
    font-size: 18px !important;
    color: white;

    background-color: #3c667c;
    border-radius: 5px 30px 5px 30px;
    width: 100% !important;
 }
 .owlCarouselContentDoktorInfo{
    font-size: 14px;
    padding: 0.5rem !important;
    text-align: justify;
 }
 .owlCarouselImageDoktor{
    height: 25rem;
    width: 100% !important;
    border-radius: 1rem;
    border: 1px groove lightgray;
    padding: 2px !important;
    
      
   
 }
 /* Opacity #1 */
 .owlCarouselImageDoktor{
     opacity: 1;
     -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
 }
 .owlCarouselImageDoktor:hover{
     opacity: .5;
    border: 3px groove #168B80;;
 }
 
 
 
 
 /* On screens that are 600px or less, set the background color to olive */
 @media screen and (max-width: 700px) {
     
      .owl-roof{
          margin: auto !important;
          width:90% !important;
          justify-content: center !important;
          
      }
      .owlCarouselContentDoktor{
         font-size: 16px !important;
         
      }
      .owlCarouselImageDoktor{
        height: 20rem !important;
        margin: auto !important;
        display: block !important;
        justify-content: center !important;
        
       
      }
      .owlCarouselTempDoktor{
       display: block !important;
       justify-content: center !important;
       margin:auto !important;
       height: 40rem !important;
      }
  
     
 }

 @media screen and (min-width: 1500px) { 
   .owlCarouselImageDoktor{
      height: 30rem !important;
      
      
     
    }

 }