.owl-slider{
   
    width:100% !important;
    margin: 0.5rem;
    margin-top: 1rem;  
 }
 .owlCarouselTempKlinik{
    
    border-radius: 1rem; 
    height: auto;
    width: 90%;
 }
 
 .owlCarouselContentDoktor{
    text-align: center;
    padding: 1rem;
    margin: auto;
    font-size: large;
 }
 .owlCarouselImageKlinik{
    height: 25rem;
    width: 25rem;
    margin-left: .5rem;
    border-radius: 1rem;
    border: 1px groove lightgray;
    padding: 2px !important;
 }
 /* Opacity #1 */
 .owlCarouselImageKlinik{
     opacity: 1;
     -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
 }
 .owlCarouselImageKlinik:hover{
     opacity: .5;
    border: 3px groove #168B80;;
 }
 
 
 
 
 /* On screens that are 600px or less, set the background color to olive */
 @media screen and (max-width: 700px) {
     
      .owl-roof{
          margin: auto !important;
          width:90% !important;
          justify-content: center !important;
      }
      .owlCarouselContentDoktor{
         font-size: medium !important;
      }
      .owlCarouselImageKlinik{
        height: 20rem !important;
        margin: auto !important;
        margin-left: 1rem !important;
        display: block !important;
        justify-content: center !important;
        
       
      }
      .owlCarouselTempKlinik{
       display: block !important;
       justify-content: center !important;
       
       
    }
  
     
 }