

.icon_top{
    font-size: x-large !important;
    color: #2E6772 !important;
    margin-left: 1rem !important;
}

.icon_top:hover{
    color:#45C1DA !important;
}
.firma_ismi{
    text-decoration: none !important;

}
.firma_ismi:hover{
    
    text-decoration: none !important;
}
.top_icon_info{
    font-size: medium !important;
    color:white !important;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 994px) {
    .icon_top{
        font-size: x-large !important;
        margin-left: 0.1rem !important;
    }
    .top_image{
        height: 8rem !important;
        margin-left: -3rem !important;
    }
    .firma_ismi{
        display: none !important;
    }
    .top_icon_info{
        display: none !important;
    }
   
  
  }