

.icon_top{
    font-size: large !important;
    /*color: #2E6772 !important;*/

  transition: 0.6s linear;
  animation-duration: 50ms;
  animation-name: icon_top;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* The animation code */
@keyframes icon_top {
    from {color: #2E6772;}
    to {color: #FFC155}
  }

.icon_top:hover{
    color:#45C1DA !important;
}
.firma_ismi{
    text-decoration: none !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.firma_ismi:hover{
    
    text-decoration: none !important;
}
.top_icon_info{
    font-size: small !important;
    color:black !important;
    float: left !important;
}
.top_icon_info_sehir{
    font-size: small !important;
    color:black !important;
    float: left !important;
}

.hergunsaat_icon{
    font-size: large !important;
    color: #2E6772 !important;
    float: left !important;
   
  }
  


.hergunsaat_text{
    font-size: small !important;
    color:#5FA5A0 !important;
    float: left !important;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 990px) {
    #firma_ismi_div{
        display: none !important;
    }
    #medya_div{
        display: none !important;
    }
    .icon_top{
        font-size: large !important;
        margin-left: 3px !important;
        margin-bottom: 1rem !important;
        
    }
    .top_image{
        height: 9rem !important;
        
        width: 9rem !important;
    }
    .firma_ismi{
        margin-top: 0.5rem !important;
        font-size: x-large !important;
        display: none !important;
    }
    .top_icon_info{
        font-size: x-small !important;
        float:left !important;
    }
    .hergun{
        display: contents !important;
        position: absolute !important;
        margin-right: 1rem !important;
        margin-top: 3rem !important;
        justify-content: center !important;
    }
    .hergunsaat_text{
        margin-top: 3rem !important;
        float: right !important;

    }
   
  
  }